<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- redis连接池 -->
	<bean id="jedisPool" class="redis.clients.jedis.JedisPool">
		<constructor-arg name="poolConfig" ref="poolConifg"></constructor-arg>
		<constructor-arg name="host" value="10.202.115.192"></constructor-arg>
		<constructor-arg name="port" value="8080"></constructor-arg>
		<constructor-arg name="timeout" value="1000"></constructor-arg>
		<constructor-arg name="password" value="admin.123"></constructor-arg>
	</bean>
	
	<!-- redis连接池配置 -->
	<bean id="poolConifg" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxTotal" value="100"></property>
		<property name="maxIdle" value="20"></property>
		<property name="maxWaitMillis" value="1000"></property>
	</bean>

</beans>
